* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

body {
  background-image: url("../assets/cloud-5946381_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.card-text {
  display: grid;
  padding: 5rem;
  background-color: #000;
  opacity: 0.8;
  min-width: 100vw;
  min-height: 85vh;
  grid: auto-flow/1fr 1fr;
}

.container-text {
  display: grid;
  padding: 5rem;
  opacity: 0.8;
  min-width: 100vw;
  min-height: 85vh;
  grid: auto-flow/1fr 1fr;
}

.container {
  min-width: 100vw;
  min-height: 85vh;
}

a {
  padding: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.25s;
}

.icone-sobre {
  padding: 0.4em 0.4em;
  border: 0.6em;
  size: 10vh;
  font-size: 2.4em;
  font-weight: 1000;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: border-color 0.25s;
}

@media screen and (max-width: 600px){
  * {
    font-size: 1rem;
    text-align: center;
  }

  nav a {
    visibility: hidden;
  }

  .card-text {
    display: grid;
    padding: 5rem;
    background-color: #000;
    opacity: 0.8;
    max-width: 100vw;
    max-height: 80vh;
    grid: auto-flow/1fr;
  }
  
  .container-text {
    display: grid;
    padding: 5rem;
    opacity: 0.8;
    max-width: 100vw;
    max-height: 80vh;
    grid: auto-flow/1fr;
  }

  img {
    width: 90%;
    height: auto;
  }

}